<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <meta charset="UTF-8">
        <title>Урок ОБЖ</title>
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="icon" href="../static/img/favicon.ico">
    </head>
    <body>
      <div class="container">
        <h1>Съедобные грибы</h1>
        <h2>Белый гриб (боровик)</h2>
        <div class="container-value">
            <div class="image">
                <img src="../static/img/grib.png" alt='"Белый гриб (боровик)"'>
            </div>
            <div class="text">
                <p>
                    Гриб так назвали из-за того, что мякоть его ножки не темнеет на срезе, оставаясь белой.
                    При этом шляпка может быть коричневой, рыжей, серо-бурой.
                    Другие названия гриба: боровик, белевик и даже коровятник.
                    Он растет в бору и считается одним из самых ценных грибов.
                    Как и другие представители трубчатых (под шляпкой они напоминают губку), белый гриб — «благородный», его сложно перепутать с несъедобным аналогом.
                    Одинаково хорош как для сушки, так и для варки, жарки и консервирования.
                </p>
            </div>
        </div>
      </div>
      <footer>
        <a href="https://vk.com/z.stepin">Степин Е.А.</a>
      </footer>
    </body>
</html>